extends layout 

block content 
    script(src='/javascripts/category.js' defer)
    h1 #{category.name}
    p #{category.description}
   
    each item in items_in_category 
        a(href=item.url ) #{item.name}
        hr

    button(type='button')
        a(href=category.url+'/update') Update category
    form(method='post' action=category.url+'/delete')
        input.delete-input.hidden(type='password' placeholder='enter passskey' name='passkey' required='true')
        button.delete-modal(type="button") Delete
        .confirm-panel-delete.hidden
            button(type="submit") Confirm
        if error 
         p= error